[*.cs]

# CS8625: Литерал, равный NULL, не может быть преобразован в ссылочный тип, не допускающий значение NULL.
dotnet_diagnostic.CS8625.severity = none

# CS8618: Поле, не допускающее значения NULL, должно содержать значение, отличное от NULL, при выходе из конструктора. Рассмотрите возможность добавления модификатора "required" или объявления значения, допускающего значение NULL.
dotnet_diagnostic.CS8618.severity = none

# CS8622: Допустимость значений NULL для ссылочных типов в типе параметра не соответствует целевому объекту делегирования (возможно, из-за атрибутов допустимости значений NULL).
dotnet_diagnostic.CS8622.severity = none

# CS8602: Разыменование вероятной пустой ссылки.
dotnet_diagnostic.CS8602.severity = none
